doctype html
html(lang="ko")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title 카테고리별 추천 광고 상품
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/css/glide.core.min.css")
		link(rel="stylesheet" href="styles/question.css")
		script(defer src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/glide.min.js")
		script(defer src="js/main.js")

	body

		.container

			h2.section__title
				span.section__titleCaption HOT! TREND
				| 카테고리별 
				em 추천 광고 상품

			-
				const categoryItemData = [ 
					{
						"category": "supplies",
						"title": "생활용품",
						"keywordList": ["바디오일", "두피/비듬샴푸", "유기농생리대", "액체세제", "뽑아쓰는 키친타올"],
						"bannerList": [
							{
								"imageSrc": "images/category_banner.png",
								"alt": "배너이미지",
								"mainTitle": "탈모케어 최대 74%",
								"subTitle": "즉시 할인에 쿠폰 할인까지!",
							},
							{
								"imageSrc": "images/category_banner.png",
								"alt": "배너이미지",
								"mainTitle": "텍스트가 너비이 넘어가더라도 UI가 깨지지 않게 해주세요.",
								"subTitle": "텍스트가 너비이 넘어가더라도 UI가 깨지지 않게 해주세요.",
							},
						],
					}, 
					{
						"category": "kitchen",
						"title": "주방용품",
						"keywordList": ["니트릴장갑", "시리얼디스펜서", "와플팬", "텀블러", "양념통", "수세미"],
						"bannerList": [
							{
								"imageSrc": "images/category_banner2.png",
								"alt": "배너이미지",
								"mainTitle": "배너 타이틀",
								"subTitle": "배너 서브타이틀",
							},
							{
								"imageSrc": "images/category_banner2.png",
								"alt": "배너이미지",
								"mainTitle": "배너 타이틀",
								"subTitle": "배너 서브타이틀",
							},
							{
								"imageSrc": "images/category_banner2.png",
								"alt": "배너이미지",
								"mainTitle": "배너 타이틀",
								"subTitle": "배너 서브타이틀",
							},
						],
					}
				];

			each data in categoryItemData
				.category__unit(class= data.category)
					.category__detail
						h3.category__title= data.title
						dl.category__keywords
							dt HOT키워드
							dd 
								-for (let i=0; i < data.keywordList.length; i++)
									a(href='#')
										| #
										= data.keywordList[i]									
					.category__banner(id= data.category + 'Carousel')
							.glid__track(data-glide-el="track")
								ul.category__bannerList.glide__slides
									-for (let i=0; i < data.bannerList.length; i++)
										li.category__bannerItem.glide__slide
											a(href='#')
												img(src=data.bannerList[i].imageSrc || '' alt=data.bannerList[i].alt || '')
												.category__bannerTitle 
													strong= data.bannerList[i].mainTitle || ''
													p= data.bannerList[i].subTitle || ''
							.glide__bullet(data-glide-el="controls[nav]")
								-for (let i=1; i <= data.bannerList.length; i++)
									li
										span.sr-only= i							
					.category__productList
						ul.productList
							-for (let i=0; i < 6; i++)
								li.productItem
									a(href='#')
										.productItem__thumbnail
											img(src="images/productItem.png" alt="배너이미지")
										span.productItem__title  코디 아름드리 Size Up 키친타올 250매, 12롤, 1팩 텍스트가 너비이 넘어가더라도 UI가 깨지지 않게 해주세요.
										span.productItem__price 
											strong 16,050
											| 원 											
											img(src="images/flag_sm_rocketDelivery.svg" alt="로켓배송")
										span.productItem__price 
											strong 14,258
											| 원 											
											img(src="images/flag_sm_rocketFresh.svg" alt="로켓프레시")